.btn-circle {
    padding: 7px;
    border: 2px solid #2A34FF;
    border-radius: 100%;
    color: #2A34FF;
    transition: transform 0.2s ease;
}

.btn-circle:hover {
    opacity: 0.8;
    cursor: pointer;
    transform: scale(1.1);
}