input {
    padding: 12px;
    border: 2px solid #ccc;
    color: black;
    font-size: 18px;
    line-height: 20px;
    border-radius: 12px;
    width: 100%;
    margin-bottom: 12px;
    background-color: white;
}