.card-receita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 8px 28px 0px rgba(0, 0, 0, 0.1);
    padding: 0;
}

.card-receita img {
    border-radius: 8px 8px 0 0;
    width: 250px;
    height: 200px;
}