.table-tag {
    display: flex !important;
    justify-content: center !important;
    justify-items: center !important;
    align-items: center !important;
    align-content: center !important;
    font-size: 1rem;
    font-weight: 500;
    color: #FAFAFA;
    background-color: #2A34FF;
    border-radius: 5px;
    width: 15rem !important;
    height: 2rem !important;
    text-align: center !important;
}

.table-input {
    display: flex !important;
    justify-content: center !important;
    justify-items: start !important;
    align-items: center !important;
    align-content: center !important;
    padding: 8px !important;
    border: 2px solid #ccc;
    color: black;
    font-size: 18px;
    line-height: 10px !important;
    border-radius: 12px;
    min-width: 100% !important;
    margin: 10px !important;
}

.list-input {
    margin-top: 10px;
}