.table-tag {
    display: block;
    justify-content: center !important;
    align-items: center !important;
    justify-items: center !important;
    font-size: 1rem;
    font-weight: 500;
    color: #FAFAFA;
    background-color: #2A34FF;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    width: 100% !important;
    height: 2rem !important;
    text-align: center;
}

.table-input {
    display: flex !important;
    justify-content: center !important;
    justify-items: center !important;
    align-items: center !important;
    align-content: center !important;
    padding: 8px !important;
    border: 2px solid #ccc;
    color: black;
    font-size: 18px;
    line-height: 10px !important;
    border-radius: 12px;
    width: 1rem !important;
    margin: 10px !important;
}