@import "tailwindcss";

@theme {
    --font-display: 'Roboto', sans-serif;

    --light-500: #000000;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: #242424;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-overlay .modal-header {
    background-color: #2A34FF;
    color: #FAFAFA;
    padding: 24px;
    width: 60%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
}

.modal-overlay .modal-body {
    background-color: #FAFAFA;
    padding: 24px;
    width: 60%;
    min-height: 40%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.modal-overlay .modal-footer {
    background-color: #FAFAFA;
    width: 60%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
}

.modal-overlay .modal-header h2 {
    font-size: 24px;
    font-weight: 600;
}

.modal-overlay .modal-body .input-container {
    width: calc(100% - 24px)
}

.modal-overlay .modal-body input {
    padding: 12px;
    border: 2px solid #ccc;
    color: black;
    font-size: 18px;
    line-height: 24px;
    border-radius: 12px;
    width: 100%;
    margin-bottom: 12px;
}

.modal-overlay .modal-body label {
    color: #242424;
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 18px;
}

.modal-overlay .modal-body .btn-secondary {
    color: white;
    position: initial;
    width: 100%;
    margin-top: 32px;
}

.modal-overlay .modal-body .btn-secondary:hover {
    background-color: lightblue;
    transform: scale(1);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.container button {
  background-color: blue;
  color: white;
  font-weight: bold;
  position: fixed;
  bottom: 160px;
  right: 160px;
  border-radius: 8px;
  transition: all 0.1s linear 0.1s;
}

.container button:hover {
  background-color: darkblue;
  box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.btn-primary {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}